
[Desktop Entry]
Name=GPyFSA
Comment=GUI front end of fsarchiver with mounting facilities
Version=0.35
Icon=gpyfsa
Exec=gpyfsa
Terminal=false
Type=Application
StartupNotify=false
MimeType=
Categories=System;
